<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.csvfilereader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon200"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />

        <activity
            android:name=".activity.SavedPdflistActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.FavouriteFilesActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.CSVFilesActivity"
            android:exported="false"
            />
        <activity
            android:name=".InfoActivity"
            android:exported="false"
            />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false"
            />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CsvFileViewerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/comma-separated-values" />
                <data android:mimeType="text/csv" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:host="*" />
                <data android:mimeType="text/comma-separated-values" />
                <data android:mimeType="text/csv" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*.csv" />
                <data android:pathPattern=".*..*.csv" />
                <data android:pathPattern=".*..*..*.csv" />
                <data android:pathPattern=".*..*..*..*.csv" />
                <data android:pathPattern=".*..*..*..*..*.csv" />
                <data android:pathPattern=".*..*..*..*..*..*.csv" />
                <data android:pathPattern=".*..*..*..*..*..*..*.csv" />
                <data android:pathPattern=".*.CSV" />
                <data android:pathPattern=".*..*.CSV" />
                <data android:pathPattern=".*..*..*.CSV" />
                <data android:pathPattern=".*..*..*..*.CSV" />
                <data android:pathPattern=".*..*..*..*..*.CSV" />
                <data android:pathPattern=".*..*..*..*..*..*.CSV" />
                <data android:pathPattern=".*..*..*..*..*..*..*.CSV" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/comma-separated-values" />
                <data android:mimeType="text/csv" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>
</manifest>